@inject IJSRuntime jsRuntime

<h3>Testing Editor</h3>
<div class="text-center top-row px-4">
    <div id="editor" class="border border-secondary h-25 bg-secondary bg-opacity-75"></div>
</div>


@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("CKEditorInvoke");
            Console.WriteLine("First Render");
        }
    }
}