@page "/"

@inject NavigationManager navigation;
<PageTitle>Index</PageTitle>
<Editorr/>
<div class="text-center">
    <button class="btn btn-success m-4" @onclick="Data">Preview</button>
</div>
Testing :@Name

@code{
    private string Name { get; set; } = string.Empty;

    private void Data()
    {
        Name = "Beryl";
        // navigation.NavigateTo("/data");
    }

}

