@page "/"


@inject IJSRuntime jsRuntime
@inject NavigationManager navigation;
<PageTitle>Index</PageTitle>
<Editorr/>
<div class="text-center">
    <button class="btn btn-success m-4" @onclick="Data">Preview</button>
</div>
Testing :@Name

@code{
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        await jsRuntime.InvokeVoidAsync("CKEditorInvoke");
    //        Console.WriteLine("First Render");
    //    }
    //}

    private string Name { get; set; } = string.Empty;

    private void Data()
    {
        Name = "Beryl";
        navigation.NavigateTo("/data");
    }

}

